---
const data = await fetch('https://jsonplaceholder.typicode.com/posts');
const posts = await data.json();
import { Button } from '@nextui-org/react';
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>IPFS Astro Test</title>
		<style is:global>
			@import "../assets/style/global.css";
		</style>
	</head>

	<body>
		<main class="flex flex-col p-5">
		<h1>A simple Astro test on the blockchain.</h1>
		<small>Made by <a class="text-blue-500" href="https://github.com/SpBills/astro-ipfs">Spencer Bills</a></small>
		{posts.flatMap(post => (
			<a class="p-5 my-5 rounded shadow" href={`posts/${post.id}`}>
				<h2 class="mb-5">{post.title[0].toUpperCase() + post.title.substring(1)}</h2>
				<Button color="primary" client:visible>Click to view</Button>
			</a>
		))}
		</main>
		<footer class="w-full p-2 mt-10 border-t-2">
			Made by <a class="text-blue-500" href="https://github.com/SpBills">Spencer Bills</a>
		</footer>
	</body>
</html>
